<div class="tebura_content"></div>
<script type="text/javascript">
	var tebura = {
		selector: ".tebura_content",
		id: "tebura",
		latitude: 35.689487,
		longitude: 139.691706,
		language: "en", // leave it blank for auto detection.
		view: "alt", // leave it blank for default option.
	};
</script>
<script type="text/javascript" src="https://tebura.ninja/publisher/js"></script>